.correct {
  color: rgb(2, 245, 164);
  font-size: 20px;
  margin-top: -9px;
}
.uncorrect {
  color: rgb(247, 80, 130);
  font-size: 20px;
  margin-top: -9px;
}
.passedP {
  margin-top: 27px;
}
.resultBlocks {
   display: flex;
   gap: 50px;
}